.polling-stat {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

.polling-block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.polling-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.pull-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.pulled-block {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 2px;
}